<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="gi.pelatihan.odt.presensikaryawan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".CutiListActivity"></activity>
        <activity android:name=".CutiPengajuanActivity"
            android:label="@string/title_pengajuan_cuti"/>
        <activity
            android:name=".ProfilActivity"
            android:label="@string/title_edit_profil" />
        <activity
            android:name=".TentangActivity"
            android:label="@string/title_tentang_aplikasi" />
        <activity
            android:name=".IzinListActivity"
            android:label="@string/title_laporan_pengajuan_izin" />
        <activity
            android:name=".IzinPengajuanActivity"
            android:label="@string/title_pengajuan_izin" />
        <activity
            android:name=".NotaListActivity"
            android:label="@string/title_laporan_klaim_nota" />
        <activity
            android:name=".NotaPengajuanActivity"
            android:label="@string/title_klaim_nota" />
        <activity
            android:name=".PresensiActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".BerandaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>